.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1200px;
  margin: 1rem auto;
}
.listImage {
  width: 100%;
}
.card {
  width: 23%;
  border: 1px solid #ccc;
}
.name,
.title {
  margin: 5px 10px;
}

@media screen and (max-width: 990px) {
  .card {
    width: 48%;
  }
  .card > * {
    width: 100%;
  }
}
@media screen and (max-width: 548px) {
  .card {
    width: 45%;
  }
}
